

body,html{
  /* filter: blur(2px); */
  background-image: url("gradient1.jpg") ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url("bg.png") ; */
  font-family: 'Chelsea Market', system-ui;
}

a{
  text-decoration: none;
}

p{
  color: white;
}
h1{
  color: white;
  font-family: 'Chelsea Market', system-ui;
}

/* #dexhunter-root{
  border: solid white;
} */

.center {
  margin: auto;
  color: white;
  width: 100%;
  padding: 16% 0 1%;
  /* height: 200px; */
  text-align: center;
}
.center2 {
  /* margin: auto; */
  color: white;
  width: 100%;
  padding: 2% 0 0;
  /* height: 200px; */
  text-align: center;
}
.middle{
  text-align: center;
  color: white;
}
.swap{
  font-size: 5rem;
  
}
.swap2{
  margin-top: 1%;
  font-size: 5rem;
}
.swap-btn{
  color: white;
  background-color: #B1232F;
  font-size: 1.8rem;
}

.home,home:visited{
  font-size: 2rem;
  color: white;
  padding-top: 1.5%;
  padding-left: 1%;
  
}

.social{
  color: white;
  /* background-color: white; */
  width: 40px;
  height: 30px;
}

.social2{
  color: white;
  width: 20px;
  height: 30px;
}

.social3{
  /* margin-top: 1%; */
  width: 50px;
  height: 50px;
  backdrop-filter: blur;
}
.footer{
  margin-left: 1%;
  margin-top: 12%;
  /* position: absolute; */
  text-align: center;
}
.footer2{
  margin-left: 1%;
  margin-top: 3%;
  /* position: absolute; */
  text-align: center;
}
.footer3{
  margin-left: 1%;
  margin-top: 10.5%;
  /* position: absolute; */
  text-align: center;
}

.navText{
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 0.7rem;
  /* display: block; */
}
.navHead{
  font-size: 2rem;
}

