body
{
  /* filter: blur(2px); */
  background-image: url("VIPERSWAP_BG_SCALES-min.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url("bg.png") ; */
  /*font-family: 'Syne', sans-serif;*/
  font-family: 'Syne', sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

h1 {
  color: white;
  /*font-family: 'Syne', sans-serif;*/
}

/* #dexhunter-root{
  border: solid white;
} */

/* #iframe-widget{
  display: flex;
} */

.center {
  margin: auto;
  color: white;
  width: 80%;
  padding: 10rem 0 1rem;
  /* height: 200px; */
  text-align: center;
}

.center2 {
  margin: 3.5rem 0 0;
  color: white;
  width: 100%;
  /* padding: 10rem 0 0; */
  /* height: 200px; */
  text-align: center;
}

.center3 {
  margin-left: 2%;
  /* color: white; */
  margin-top: 6rem;
  width: 100%;
  /* padding: 4% 0 0; */
  /* height: 200px; */
  /* text-align: center; */
}

.center4 {
  margin: auto;
  color: white;
  width: 80%;
  padding: 3.5rem 0 0;
  /* height: 200px; */
  text-align: center;
  /* display: inline-block; */
}

.center5 {
  /* margin-left: 2%; */
  /* color: white; */
  margin-top: 55px;
  width: 100%;
  /* padding: 4% 0 0; */
  /* height: 200px; */
  /* text-align: center; */
  border: none;
  background-color: #212428;
}

.middle {
  text-align: center;
  color: white;
  /* margin: 50%; */
}

.swap {
  font-family: 'Prompt', sans-serif;
  font-size: 1.7rem;
}

.swap2 {
  font-family: 'Syne', sans-serif;
  margin-top: 1%;
  font-size: 3rem;
}

.swapTop {
  font-family: 'Syne', sans-serif;
  font-size: 3.5rem;
  padding-bottom: 0.5%;
  /* text-decoration: underline; */
  word-wrap: break-word;
}

.swap-btn {
  color: white;
  background-color: #b1232f;
  font-size: 1.5rem;
}

.home,.home:visited {
  font-size: 2rem;
  color: white;
  padding-top: 1.5%;
  padding-left: 1%;
}

.social {
  color: white;
  /* background-color: white; */
  width: 2rem;
  height: 2.5rem;
  margin: 0 1%;
  /* font-size: 1rem; */
}

.social2 {
  color: white;
  width: 2rem;
  height: 2.5rem;
}

.social3 {
  /* margin-top: 1%; */
  width: 50px;
  height: 50px;
  backdrop-filter: blur;
}

.footer {
  font-family: 'Prompt', sans-serif;
  margin-left: 1%;
  margin-top: 18rem;
  /* position: absolute; */
  text-align: center;
}

.footer2 {
  font-family: 'Prompt', sans-serif;
  margin-left: 1%;
  margin-top: 3%;
  /* position: absolute; */
  text-align: center;
}

.footer3 {
  font-family: 'Prompt', sans-serif;
  margin-left: 1%;
  margin-top: 5%;
  /* position: absolute; */
  text-align: center;
}

.navText {
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 1rem;
  /* display: block; */
}

.navHead {
  font-family: 'Syne', sans-serif;
  font-size: 1rem;
}

.swap-main {
  border: solid #a3a3a3;
}

/* .nav-item {
  margin: 0 3%;
} */

.navlink,.navLink:visited{
color: white;
}

.navImg {
  width: 2.5rem;
  height: 2.5rem;
}

/* .navbarIcons{
  margin: 0 0.01;
} */
/* .navBtn {
  float: right;
} */
.navDiv{
  display: block;
  height: 6%;
}

.webLogo {
  width: 4rem;
  height: 4rem;
}

.bgImg{
  position: absolute;
  z-index: -2;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  /* margin-left: -2%; */
}
