body,
html {
  /* filter: blur(2px); */
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url("bg.png") ; */
  /*font-family: 'Syne', sans-serif;*/
  font-family: "Chelsea Market", system-ui;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

h1 {
  color: white;
  /*font-family: 'Syne', sans-serif;*/
}

/* #dexhunter-root{
  border: solid white;
} */

/* #iframe-widget{
  display: flex;
} */

.center {
  margin: auto;
  color: white;
  width: 80%;
  padding: 13% 0 1%;
  /* height: 200px; */
  text-align: center;
}

.center2 {
  margin: 8rem 0 0;
  color: white;
  width: 100%;
  /* padding: 10rem 0 0; */
  /* height: 200px; */
  text-align: center;
}

.center3 {
  margin-left: 2%;
  /* color: white; */
  width: 100%;
  /* padding: 4% 0 0; */
  /* height: 200px; */
  /* text-align: center; */
}

.center4 {
  /* margin: auto; */
  color: white;
  width: 100%;
  padding: 2% 0 0;
  /* height: 200px; */
  text-align: center;
  display: inline-block;
}

.middle {
  text-align: center;
  color: white;
  /* margin: 50%; */
}

.swap {
  font-family: 'Syne', sans-serif;
  font-size: 2rem;
}

.swap2 {
  font-family: "Chelsea Market", system-ui;
  margin-top: 1%;
  font-size: 3rem;
}

.swapTop {
  font-family: "Chelsea Market", system-ui;
  font-size: 3.5rem;
  padding-bottom: 1%;
  /* text-decoration: underline; */
}

.swap-btn {
  color: white;
  background-color: #b1232f;
  font-size: 1.5rem;
}

.home,
home:visited {
  font-size: 2rem;
  color: white;
  padding-top: 1.5%;
  padding-left: 1%;
}

.social {
  color: white;
  /* background-color: white; */
  width: 2.3rem;
  height: 2.3rem;
  margin: 0 1%;
}

.social2 {
  color: white;
  width: 2rem;
  height: 2.5rem;
}

.social3 {
  /* margin-top: 1%; */
  width: 50px;
  height: 50px;
  backdrop-filter: blur;
}

.footer {
  margin-left: 1%;
  margin-top: 10%;
  /* position: absolute; */
  text-align: center;
}

.footer2 {
  margin-left: 1%;
  margin-top: 3%;
  /* position: absolute; */
  text-align: center;
}

.footer3 {
  margin-left: 1%;
  margin-top: 8%;
  /* position: absolute; */
  text-align: center;
}

.navText {
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 0.7rem;
  /* display: block; */
}

.navHead {
  font-family: "Chelsea Market", system-ui;
  font-size: 2rem;
}

.swap-main {
  border: solid #a3a3a3;
}

/* .nav-item {
  margin: 0 3%;
} */

.navImg {
  width: 2.5rem;
  height: 2.5rem;
}

/* .navbarIcons{
  margin: 0 0.01;
} */
/* .navBtn {
  float: right;
} */

.webLogo {
  width: 4rem;
  height: 4rem;
}
